.gallery{
    background-color: #dbddf1;
    padding: 80px 0;
    flex-direction: column;
    
}
.gallery img{
    background-color: #ffffff;
    padding: 15px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
#gallery-modal .modal-img{
    width: 100%;
}

.gallery img:hover{
    transform: translateY(-6px);
    box-shadow: 2px 2px 14px gray;
    box-shadow: #9a9a9a;
  }
  a>img{
    width: 200px;
    height: 100px;
  }